.navbar{
    padding-bottom: 65px;
}
.navbar-container{
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background:#000000;
    padding: 10px;
    align-items: center;
}
.navbar-container img{
    width: 30px;
    height: 30px;
}
.navbar-container img:hover{
    cursor: pointer;
}
.navbar-container #nav-menu-icon{
    width: 30px;
    height: 40px;
    margin-right: 20px;
}
.navbar-container #nav-cart-icon{
    width: 30px;
}

.navbar-container #nav-user-icon{
    width: 30px;
}

.navbar-container .navbar-left{
    display: flex;
}

.navbar-container .navbar-left .navbar-logo{
    align-self: center;
    margin-left: 10px;
    color: #C0C0C0;
    word-spacing: 10px;
    letter-spacing: 5px;
}

.navbar-container .navbar-left .navbar-logo h1{
    font-optical-sizing: auto;
    font-size: 2vmax;
    word-spacing: 10px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    color: #7b2fbe;
}

.navbar-container .navbar-right{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.navbar-container .navbar-right .navbar-user{
    display: flex;
}

.nav-sidemenu{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: #FAF9F6;
    display: none;
    overflow-y: auto;
    transition: 0.5s ease-in-out;
}

.nav-sidemenu .sidemenu-header {
    background-color: #7b2fbe;
    padding: 20px;
    text-align: center;
    font-size: 4vmin;
    font-weight: 600;
    letter-spacing: 4px;
    min-height: 100px;  
}
.nav-sidemenu .sidemenu-header h1{
    align-self: center;
    justify-self: center;
}
.nav-sidemenu .sidemenu-header:hover{
    cursor: pointer;
}
.nav-sidemenu .sidemenu-header img{
    width: 50%;
    justify-self: center;
    display: flex;
}

.nav-sidemenu .sidemenu-footer{
    position: fixed;
    bottom: 0;
    width:300px;
    background-color: #7b2fbe;
}
.nav-sidemenu .sidemenu-footer img{
    width: 20%;
    display: flex;
    justify-self: center;
    padding: 10px;
}
.nav-sidemenu .sidemenu-footer img:hover{
    cursor: pointer;
}
.nav-sidemenu .sidemenu-list{
    padding: 10px;
}

.nav-sidemenu .sidemenu-list ul{
    list-style:none;
}
.nav-sidemenu .sidemenu-list ul li{
    margin: 20px 0px;
    font-size: 2.5vmin;
}
.nav-sidemenu .sidemenu-list ul li:hover{
    cursor: pointer;
    transform: translateY(5px);
    transition: 0.3s ease;
    letter-spacing: 4px;
}

#nav-cart-count{
    position: relative;
    left: 18px;
    align-content: center;
    bottom: 18px;
    background-color: #FF0000;
    width: 15px;
    height: 15px;
    border-radius: 100px;
}
#nav-cart-count p{
   color: #FAF9F6;
    text-align: center;
    font-size: small;
}

#nav-user-icon{
    border-radius: 100px;
}

/*---------------------Mobile screens-------------------------*/

@media (max-width:500px) and (min-width:100px) {
.navbar-container .navbar-left .navbar-logo{
    margin-left: 1px;
    word-spacing: 5px;
    letter-spacing: 2px;
}
.navbar-container .navbar-left .navbar-logo h1{
    font-size: x-large;
}
.navbar-container .navbar-right{
    display: flex;
    gap: 10px;
}
.navbar-container .navbar-right .navbar-user h4{
    display: none;
}

.nav-sidemenu{
    width: 200px;
}

.nav-sidemenu .sidemenu-footer{
    width: 200px;
}


.nav-sidemenu .sidemenu-list ul li{
    margin: 20px 5px;
}

#nav-cart-count{
    align-content: center;
}

#nav-user-icon{
    border-radius: 100px;
}
.drop-down-hover{
    z-index: 1000;
    position: fixed;
    right: 5px;
    margin-top: 5px;
    width: 200px;
    height: fit-content;
    padding: 20px;
    border-radius: 5px;
}
    
}

/*
black
	#000000 - 1
  #28282B - 2

grey
  #C0C0C0
  #C9C9C9

white
#FFFFFF - cream
#FAF9F6  *

green
#32CD32 *

blue
#1F51FF

yellow
#FFEA00
#FFD700 *

red
#FF0000
*/
